


.burger--wrapper {
  position: absolute;
  right: 0;
  top: 0;
  display: none;
}

.menu-btn {
  display: flex;
  align-items: center;
  position: absolute;
  right: 15px;
  top: 30px;
  width: 40px;
  height: 24px;
  cursor: pointer;
  z-index: 1;
}

.menu-btn>span,
.menu-btn>span::before,
.menu-btn>span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color:white;
  transition-duration: .25s;
}

.menu-btn>span::before {
  content: '';
  top: -8px;
}

.menu-btn>span::after {
  content: '';
  top: 8px;
}

.menubox {
  visibility: hidden;
  position: relative;
  left: -100%;
  width: 576px;
  margin: 0;
  padding: 60px 0;
  list-style: none;
  transition: all .25s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #5373FD;
}
.menu--items{
  padding-top: 6px;
  padding-bottom: 20px;
  width: 100%;
   display: flex;
  flex-direction: column;
  align-items: center;

}
.menu-title {
  font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 32px;
}

.menu-item {
  display: block;
  font-family: 'Aleo';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  display: flex;
  align-items: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-top: 24px;
  transition-duration: .25s;
}

.menu-item{
  transition: all .15s ease;

}

.menu-item:hover {
  background-color:rgb(255 217 217);
  color: #5373FD;
}


#menu-toggle {
  opacity: 0;
}

#menu-btn {
  display: none;
}

#menu-toggle:checked~.menu-btn>span {
  transform: rotate(45deg);
}

#menu-toggle:checked~.menu-btn>span::before {
  top: 0;
  transform: rotate(0);
}

#menu-toggle:checked~.menu-btn>span::after {
  top: 0;
  transform: rotate(90deg);
}

#menu-toggle:checked~.menubox {
  visibility: visible;
  left: 0;
}

@media screen and(max-width:665px) {
  .burger--wrapper{
    display: block;
  }
  .nav{
    display: none;
  }
}