.footer {
    background-color: #000000;

    svg {
        fill: white;
    }

    &--container {
        padding-top: 80px;
        padding-bottom: 80px;
        display: flex;
        flex-direction: column;
        align-items: center;

        .container {
            &--title {
                margin-bottom: 8px;
                font-family: 'Josefin Sans';
                font-style: normal;
                font-weight: 700;
                font-size: 24px;
                line-height: 28px;
                letter-spacing: 0.1em;
                text-transform: uppercase;
                color: #FFFFFF;

                -webkit-mask-image: linear-gradient(-75deg, rgba(255, 0, 0, 0.6) 30%, rgb(255, 0, 0) 50%, rgba(255, 0, 0, 0.6) 70%);
                -webkit-mask-size: 200%;
                animation: wave 2s infinite;


            }

            &--subtitle {
                font-family: 'Josefin Sans';
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 20px;
                letter-spacing: 0.2em;
                color: #FFFFFF;
                margin-bottom: 20px;
            }

            &--svg {
                svg {
                    transition: all .5s ease;

                }

                a+a{
                    margin-left: 32px;
                }

                svg:hover {
                    fill: #5373FD;
                }
            }
        }
    }
}