.main {
    &--why {
        background-image: url(../img/WhyBackground-1920.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;

        .why {
            &--container {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding-top: 120px;
                padding-bottom: 120px;

                .container {
                    &--text {
                        display: flex;
                        flex-direction: column;
                        max-width: 648px;

                        .text {
                            &--title {
                                font-family: 'Aleo';
                                font-style: normal;
                                font-weight: 400;
                                font-size: 36px;
                                line-height: 40px;
                                text-transform: capitalize;
                                color: white;
                                margin-bottom: 24px;
                            }

                            &--desc {
                                font-family: 'Josefin Sans';
                                font-style: normal;
                                font-weight: 300;
                                font-size: 16px;
                                line-height: 28px;
                                letter-spacing: 0.1em;
                                color: #FFFFFF;
                                margin-bottom: 32px;
                            }

                            &--butn {
                                .butn {
                                    &--link {
                                        padding: 20px 32px;
                                        background-color: #5373FD;
                                        display: inline-flex;
                                        font-family: 'Aleo';
                                        font-style: normal;
                                        font-weight: 400;
                                        font-size: 16px;
                                        line-height: 20px;
                                        text-align: center;
                                        letter-spacing: 0.07em;
                                        text-transform: uppercase;
                                        color: #FFFFFF;
                                        transition: all .5s ease;

                                        &:hover {
                                            background-color: rgb(255 217 217);
                                            color: #5373FD;

                                        }
                                    }
                                }

                            }
                        }
                    }

                    &--images {
                        display: flex;
                        flex-direction: column;

                        .images {
                            &--img2 {
                                margin-left: 74px;
                                margin-top: 16px;
                            }
                        }
                    }
                }
            }

        }
    }

    &--steps {
        background-color: #333333;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 60px;

        .steps {
            &--line {
                position: absolute;
                z-index: 0;
            }

            &--container {
                padding-top: 50px;
                padding-bottom: 60px;

                .container {
                    &--svg {
                        position: relative;
                        z-index: 1;
                        display: flex;
                        justify-content: center;

                        .svg {
                            &--img {
                                display: flex;
                                justify-content: space-between;
                                margin: 0 auto;

                                .img {
                                    &--check {
                                        display: flex;
                                        flex-direction: column;
                                        align-items: center;

                                        p {
                                            font-family: 'Aleo';
                                            font-style: normal;
                                            font-weight: 400;
                                            font-size: 36px;
                                            line-height: 40px;
                                            text-align: center;
                                            text-transform: capitalize;
                                            color: #FFFFFF;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    &--booknow {
        background-image: url(../img/render-1477041_1280\ 1.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

        .booknow {
            &--container {
                padding: 220px 0 120px 0;

                .container {
                    &--card {
                        width: 49.2%;
                        padding: 44px 32px;
                        background: rgba(35, 35, 35, 0.9);

                        .card {
                            &--title {
                                font-family: 'Josefin Sans';
                                font-style: normal;
                                font-weight: 300;
                                font-size: 20px;
                                line-height: 28px;
                                letter-spacing: 0.1em;
                                color: #FFFFFF;
                            }

                            &--subtitle {
                                font-family: 'Josefin Sans';
                                font-style: normal;
                                font-weight: 400;
                                font-size: 20px;
                                line-height: 28px;
                                text-transform: uppercase;
                                color: #FFFFFF;
                                margin: 16px 0;

                            }

                            &--desc {
                                font-family: 'Josefin Sans';
                                font-style: normal;
                                font-weight: 300;
                                font-size: 16px;
                                line-height: 28px;
                                letter-spacing: 0.1em;
                                color: #FFFFFF;
                                margin-bottom: 24px;
                            }

                            &--butn {
                                .butn {
                                    &--link {
                                        font-family: 'Aleo';
                                        font-style: normal;
                                        font-weight: 400;
                                        font-size: 16px;
                                        line-height: 20px;
                                        letter-spacing: 0.07em;
                                        text-transform: uppercase;
                                        color: #FFFFFF;
                                        display: inline-flex;
                                        background-color: #5373FD;
                                        padding: 20px 56px;
                                        transition: all .5s ease;
                                        width: 36.5%;
                                        max-width: 213px;

                                        &:hover {
                                            background-color: rgb(255 217 217);
                                            color: #5373FD;

                                        }

                                    }
                                }
                            }
                        }
                    }
                }

            }
        }
    }

    &--booknowSec {
        background-image: url(../img/spain-1859434_1280\ 1.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;


        .booknowSec {
            &--container {
                padding: 220px 0 120px 0;
                display: flex;
                justify-content: flex-end;

                .container {
                    &--card {
                        width: 49.2%;

                        padding: 44px 32px;
                        background: rgba(35, 35, 35, 0.9);

                        .card {
                            &--title {
                                font-family: 'Josefin Sans';
                                font-style: normal;
                                font-weight: 300;
                                font-size: 20px;
                                line-height: 28px;
                                letter-spacing: 0.1em;
                                color: #FFFFFF;
                            }

                            &--subtitle {
                                font-family: 'Josefin Sans';
                                font-style: normal;
                                font-weight: 400;
                                font-size: 20px;
                                line-height: 28px;
                                text-transform: uppercase;
                                color: #FFFFFF;
                                margin: 16px 0;

                            }

                            &--desc {
                                font-family: 'Josefin Sans';
                                font-style: normal;
                                font-weight: 300;
                                font-size: 16px;
                                line-height: 28px;
                                letter-spacing: 0.1em;
                                color: #FFFFFF;
                                margin-bottom: 24px;
                            }

                            &--butn {
                                .butn {
                                    &--link {
                                        font-family: 'Aleo';
                                        font-style: normal;
                                        font-weight: 400;
                                        font-size: 16px;
                                        line-height: 20px;
                                        letter-spacing: 0.07em;
                                        text-transform: uppercase;
                                        color: #FFFFFF;
                                        display: inline-flex;
                                        background-color: #5373FD;
                                        padding: 20px 56px;
                                        transition: all .5s ease;
                                        width: 36.5%;
                                        max-width: 213px;


                                        &:hover {
                                            background-color: rgb(255 217 217);
                                            color: #5373FD;
                                        }

                                    }
                                }
                            }
                        }
                    }
                }

            }
        }
    }

    &--tourist {
        background-image: url(../img/BG1920.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

        .tourist {
            &--container {
                padding-top: 120px;
                padding-bottom: 180px;

                .container {
                    &--content {
                        display: flex;
                        flex-direction: column;
                        align-items: center;

                        .content {
                            &--title {
                                font-family: 'Aleo';
                                font-style: normal;
                                font-weight: 400;
                                font-size: 36px;
                                line-height: 40px;
                                text-align: center;
                                text-transform: capitalize;
                                color: #FFFFFF;
                                margin-bottom: 60px;
                                margin-top: 40px;
                            }

                            &--review {
                                display: flex;
                                flex-direction: row;

                                .review {
                                    &--text {
                                        max-width: 885px;
                                        padding: 35px 60px;
                                        background-color: #333333;

                                        .text {
                                            &--title {
                                                font-family: 'Josefin Sans';
                                                font-style: normal;
                                                font-weight: 400;
                                                font-size: 20px;
                                                line-height: 28px;
                                                text-transform: uppercase;
                                                color: #FFFFFF;
                                                margin-bottom: 8px;
                                            }

                                            &--desc {
                                                font-family: 'Josefin Sans';
                                                font-style: normal;
                                                font-weight: 300;
                                                font-size: 16px;
                                                line-height: 28px;
                                                letter-spacing: 0.1em;
                                                color: #FFFFFF;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}



.check+.check{
    margin-left: 220px;
}